{% extends 'base.html' %}
{% block title %}source{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.0.1/async.js"></script>
{% endblock %}

{% block body %}
    {%  if user.is_authenticated  %}
        <div style=" float: left;">
        <div class="row">
            <h1 style="font-family: 'Noto Sans CJK KR Regular'; font-size: 21px">
                {{ user }}님 안녕하세요</h1>
            <h3 style="font-family: 'Noto Sans CJK KR Thin'; font-size: 18px; background-color: antiquewhite">
                스태프 임시 상품 업로드 페이지입니다.
            </h3>
            <br><br>
            <h1><a class="btn btn-info" href="{% url 'product_initial_upload' %}" style="font-size: 19px">업로드 시작</a></h1>



        </div>
        <br><br>

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}


{% block css %}
    <style>
        .row {
            margin: 5px 2px 10px 50px;
        }

        .col-md-1 p {
            color: red;
            font-weight: bold;
            margin-top: 8px;
        }

    </style>
{% endblock %}